/* Reset styles or general styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center; /* Center content horizontally */
  padding: 20px;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(20, 20, 20);
}

/* Additional global styles can be added as needed */
